<table class="table table-success table-striped table-bordered">
    <tr>
        <td> Nome </td>
        <td> Autor</td>
        <td> Editor</td>
        <td> Gênero literário</td>
        <td> Número de Páginas</td>
        <td> </td>
        <td> </td>
    </tr>
    {{#each livros}}
    <tr>
        <td>{{nome}}</td>
        <td>{{autor}}</td>
        <td>{{editor}}</td>
        <td>{{genero}}</td>
        <td>{{numpag}}</td>
        <td><a class="btn btn-primary" type="button" href="livroEdit/{{_id}}">Editar</a></td>
        <td><a class="btn btn-danger" type="button" href="livroDelete/{{_id}}">Excluir</a></td>
    </tr>
    {{/each}}
</table>
