<form action="/ocorrenciaEdit" method="post" class="row g-3 justify-content-center">
    <input type="hidden" class="form-control" id="id" placeholder="ID" name="id" value="{{ocorrencias.id}}" >
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="observacao">Observação</label>
            <input type="text" class="form-control" id="observacao" placeholder="Observação" name="observacao" value="{{ocorrencias.observacao}}">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="datahora">Data e Hora</label>
            <input type="datetime-local" class="form-control" id="datahora" placeholder="Data e Hora" name="datahora" value="{{ocorrencias.datahora}}">
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="veiculoId">Veiculo</label>
            <select name="veiculoId"  id="veiculoId" class="form-select" aria-label="Veiculo">
            {{#select ocorrencias.veiculoId}}
                {{#each veiculos}}
                    <option value={{id}}>{{placa}}</option>
                {{/each}}
            {{/select}}
            </select>
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <label class="form-label" for="estacionamentoId">Estacionamento</label>
            <select name="estacionamentoId"  id="estacionamentoId" class="form-select" aria-label="Estacionamento">
                {{#select ocorrencias.estacionamentoId}}
                    {{#each estacionamentos}}
                        <option value={{id}}>{{descricao}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    <div class="row-md">
        <div class="col-md-5">
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </div>
</form>
